
@font-face {
    font-family: "Cherry Bomb One";
    src: url("../assets/fonts/Cherry_Bomb_One/CherryBombOne-Regular.ttf");
}

@font-face{
    font-family: "Darumadrop One";
    src: url("../assets/fonts/Darumadrop_One/DarumadropOne-Regular.ttf");
}

.tittle__font {
    font-family: "Cherry Bomb One", sans-serif;
    font-size: 2.5rem;
    text-align: left, top;
}
